body {
  margin: auto;
  background-color: var(--white);
  overflow-x: hidden;
  color: var(--black-900);
}
@font-face {
    font-family: 'TT Interphases Pro Mono Trl';
    src: url('fonts/TT\ Interphases\ Pro\ Mono\ Trial\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'TT Interphases Pro Trl Variable';
    src: url('fonts/TT_Interphases_Pro_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'TT Interphases Pro Trl Variable';
    src: url('fonts/TT_Interphases_Pro_DemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'SF-Pro-Rounded';
    src: url('fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
::-webkit-scrollbar {
  width: 6px;           /* ширина вертикального скролла */
  height: 6px;          /* высота горизонтального */
}

/* полоса (фон трека) */
::-webkit-scrollbar-track {
  background: var(--white);   /* фон трека */
  border-radius: 20px;
}

/* ползунок */
::-webkit-scrollbar-thumb {
  background: var(--green);       /* цвет ползунка */
  border-radius: 8px;
}

/* при наведении */
::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}
* {
  scrollbar-width: thin;             /* "auto" | "thin" | "none" */
  scrollbar-color: var(--green) var(--white);     /* thumb | track */
}
:root {
  --black-900: #000000;
  --black-800: #1F1F1F;
  --black-700: #3D3D3D;
  --green: #B2D1CA;
  --white: #F4FFF6;
}
.text-white {
    color: var(--white);
}
.text-green {
    color: var(--green);
}
ul {
    margin: 0;
    padding: 0;
    padding-left: 19px;
}
ol {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
h1 {
    margin: 0;
    font-family: "TT Interphases Pro Mono Trl";
    font-size: 42px;
    letter-spacing: -0.5px;
    line-height: 1.2;
    font-weight: 300;
}
h2 {
    margin: 0;
    font-family: "TT Interphases Pro Mono Trl";
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 1.2;
    font-weight: 300;
}
h3 {
    margin: 0;
    font-family: "TT Interphases Pro Mono Trl";
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 1.2;
    font-weight: 300;
}
.body-large {
    font-family: "TT Interphases Pro Trl Variable";
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 1.6;
    font-weight: 400;
}
.body-large-accent {
    font-family: "TT Interphases Pro Trl Variable";
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 1.6;
    font-weight: 500;
}
.body-regular {
    font-family: "TT Interphases Pro Trl Variable";
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    font-weight: 400;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    transition: border-radius 20s ease, background-color 0.5s ease;
    background-color: var(--black-900);
    user-select: none;        /* запрещает выделение текста */
    -webkit-user-select: none; /* для Safari */
    -moz-user-select: none;    /* для Firefox */
    -ms-user-select: none;     /* для старых Edge */
}
.btn:hover {
    background-color: var(--black-800);
    border-radius: 100px;
}
.btn:active {
    background-color: var(--black-700);
}
.btn-large {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 2px;
    height: 55px;
    box-sizing: border-box;
    gap: 10px;
}
.btn-large > img {
    width: 24px;
    height: 24px;
}
.btn-regular {
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    gap: 8px;
}
.btn-regular > img {
    width: 20px;
    height: 20px;
}
.btn-small {
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    height: 32px;
}
.btn-small > img {
    width: 16px;
    height: 16px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.main-padding {
    padding: 20px;
    box-sizing: border-box;
}


/*hero*/
.hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);  
    gap: 20px;
    height: 100vh;
}
.loom {
    height: 150px;
    width: 150px;
    background: url(./other/loom-preview.png) no-repeat center / contain;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    transition: all 0.5s ease; 
}
.loom:hover {
    background: url(./other/loom-preview-hover.png) no-repeat center / contain;
    cursor: pointer;
}
.loom:active {
    background-color: var(--black-700);
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
    grid-column: 5 / 7;
    grid-row: 1;
}
.hero > img {
    grid-column: 1;
    grid-row: 1;
    height: 55px;
    width: 55px;
}
.hero > h1 {
    grid-column: 1 / 4;
    grid-row: 2;
    align-self: end;
}
.loom {
    grid-column: 5 / 7;
    grid-row: 2;
    justify-self: end;
    align-self: end;
}


/*works*/
.works {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.works > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.works-text {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;  
    align-content: start;
    gap: 16px;
}
.works-caption {
    grid-column: 1 / 3;
    grid-row: 1;
    height: fit-content;
}
.works-btn {
    grid-column: 1 / 3;
    grid-row: 2;
}
.works-btn-2 {
    display: none;
}
.works-dot {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    align-self: end;
    display: none;
}
.works-pic {
    width: 50%;
    overflow: hidden;
    transition: all 0.5s ease;
}
.works-pic > img {
    width: 100%;
    height: auto;
    display: block;
}
.works-pic:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/*footer*/
.footer {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 200px;
    gap: 16px;
    overflow: hidden;
}
.footer-buttons {
    grid-column: 1 / 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-self: end;
}
.footer-text {
    grid-column: 1 / 3;
    grid-row: 1;
}
.footer-cat {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-self: end;
}
.footer-cat > pre {
    font-family: "SF-Pro-Rounded";
    font-size: 40px;
    font-weight: 400;
    transform: scaleX(-1) translateY(45%);
}

/*case*/
.body-case {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 100%;
}
.case-header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 8px;
}
.case-container {
    width: 100%;
    max-width: 800px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.case-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.case-block-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    margin-top: 8px;
}
.case-pic {
    width: 100%;
    /* border-radius: 20px; */
    overflow: hidden;
}
.pic-high-q-1 {
    background-color: #E5F4F5;
    padding-top: 2%;
    padding-bottom: 2%;
}
.pic-high-q-1 > img {
    transform: scale(0.85) translateX(-4%);
}
.pic-high-q-2 {
    background-color: #E5F4F5;
}
.pic-high-q-2 > img {
    transform: scale(0.78) translateX(-10%);
}
.pic-high-q-3 {
    background-color: #E5F4F5;
    padding-top: 4%;
    padding-bottom: 4%;
}
.pic-high-q-3 > img {
    transform: scale(1) translateX(3%);
}
.pic-high-q-4 {
    background-color: #E5F4F5;
}
.pic-high-q-4 > img {
    transform: scale(0.83) translateX(-8%);
}
.pic-high-q-5 {
    background-color: #E5F4F5;
}
.pic-high-q-5 > img {
    transform: scale(0.8) translateX(-8%);
}
.case-pic > img {
    width: 100%;
    height: auto;
    display: block;
}
.case-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    height: 140px;
    overflow: hidden;
}
.card-text {
    grid-column: 1 / 3;
    grid-row: 1;
}
.case-card > img {
    width: 12px;
    height: 12px;
    align-self: end;
    justify-self: end;
    grid-column: 2;
    grid-row: 2;
}
.card-special-text {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-family: "TT Interphases Pro Mono Trl";
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}

.case-card-large {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    padding: 20px;
    height: 210px;
    overflow: hidden;
}
.card-text-large-accent {
    grid-column: 1 / 3;
    grid-row: 1;
    font-weight: 500;
}
.card-text-large {
    grid-column: 1 / 3;
    grid-row: 2;
}
.case-card-large > img {
    width: 12px;
    height: 12px;
    align-self: end;
    justify-self: end;
    grid-column: 2;
    grid-row: 3;
}
.card-large-special-text {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-family: "TT Interphases Pro Mono Trl";
    grid-column: 1;
    grid-row: 3;
    align-self: end;
}

.case-card-color-one {
    background-color: #E5F4F5;
}
.case-card-color-two {
    background-color: #E4F4EC;
}
.case-card-color-three {
    background-color: #F4F3E4;
}
.card-special-text-color-one {
    color: #A3D6DB;
}
.card-special-text-color-two {
    color: #9FC6BD;
}
.card-special-text-color-three {
    color: #D7D39D;
}
.case-metrics {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.case-footer {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    justify-items: end;
    gap: 8px;
    margin-top: 160px;
}


/*media*/
@media (min-width: 920px) and (max-width: 1280px) {
    .hero > h1 {
        grid-column: 1 / 5;
    }
    .works {
        gap: 120px;
    }
    .works > div {
        flex-direction: column;
    }
    .works-text {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .works-caption {
        grid-column: 1;
        grid-row: 1;
    }
    .works-btn {
        grid-column: 2;
        grid-row: 1;
        align-self: end;
        justify-self: end;
    }
    .works-pic {
        width: 100%;
    }
    .works-dot {
        display: none;
    }
    .footer-text {
        grid-column: 1 / 4;
    }
}
@media (max-width: 920px) {
  h1 {
    font-size: 32px;
    letter-spacing: -0.5px;;
  }
  h2 {
    font-size: 20px;
    letter-spacing: -0.3px;;
  }
  h3 {
    font-size: 24px;
    letter-spacing: -0.35px;;
  }
  .body-large {
    font-size: 18px;
  }
  .body-large-accent {
    font-size: 18px;
  }
  .hero {
    grid-template-rows: auto auto auto 1fr;
  }
  .hero > h1 {
    grid-column: 1 / 7;
    grid-row: 2;
    align-self: start;
  }
  .nav-buttons {
    grid-row: 4;
    grid-column: 1 / 7;
    justify-self: start;
    align-self: end;
  }
  .container {
    gap: 80px;
  }
  .loom {
    grid-row: 3;
    grid-column: 1 / 7;
    width: 110px;
    height: 110px;
  }
  .works > div {
    flex-direction: column;
    gap: 16px;
  }
  .works-btn {
    display: none;
  }
  .works-btn-2 {
    display: flex;
  }
  .works-text {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .works-caption {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .works-btn-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .works-dot {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
  }
  .works-pic {
    order: -1;
    width: 100%;
    border-radius: 10px;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    height: 100vh;
    min-height: fit-content;
  }
  .footer-text {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .footer-buttons {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .footer-cat {
    grid-column: 3;
    grid-row: 2;
  }
  .footer-cat > pre {
    font-size: 20px;
  }

  /* cases */
  .case-block-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .case-card {
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
  }
  .case-footer {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .btn-footer-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .btn-footer-2 {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
  }
  .btn-footer-3 {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
  }
  .btn-footer-4 {
    grid-column: 1 / 4;
    grid-row: 2;
    width: 100%;
  }
}
@media (max-width: 460px) {
    .case-card {
    height: 172px;
  }
}

.temporary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}